.home-wrapper {
  padding: 5rem 15% 2rem 15%;
  border-radius: 12px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.hero-text-container {
  display: block;
  text-align: left;
}
.greet-text {
  font-size: 27px;
  color: #fff;
  font-weight: 800;
  margin-bottom: -35px;
}
.fullname-text {
  position: absolute;
  color: #212528;
  margin-left: 9.7rem;
  margin-top: 2.6rem;
  font-size: 18px;
  padding: 0 5px;
  font-weight: 600;
  background-color: #fff;
}
.name-text {
  padding: 0;
  font-size: 174px;
  color: #b53434;
  font-weight: 1000;
  letter-spacing: 10px;
  margin-left: -10px;
  text-shadow: 1px 0 currentColor, -1px 0 currentColor;
}
