.home-wrapper {
  padding: 5rem 15% 2rem 15%;
  border-radius: 12px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-text-container {
  display: block;
  text-align: left;
  margin-top: 9rem;
  z-index: 2;
  padding-left: 0;
}
.greet-text {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  margin-bottom: -45px;
}
.fullname-text {
  position: absolute;
  color: #212528;
  margin-left: 13rem;
  margin-top: 3.53rem;
  font-size: 22px;
  padding: 0 5px;
  letter-spacing: 2px;
  font-weight: 800;
  background-color: #fff;
}
.name-text {
  padding: 0;
  font-size: 235px;
  color: #b53434;
  font-weight: 1000;
  margin-left: -10px;
  letter-spacing: 13px;
  text-shadow: 1px 0 currentColor, -2px 0 currentColor;
}
.my-skill-text {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin-top: -10px;
}
.summary-description {
  width: 45%;
  margin-top: 2rem;
  font-size: 16px;
  font-weight: lighter;
  line-height: 22px;
  letter-spacing: 1px;
  color: #fff;
}
.find-me {
  margin-top: 12rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 100;
}
.find-me-icons {
  display: flex;
  gap: 0.8rem;
}
.find-me-btns {
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.find-me-btns:hover {
  box-shadow: 0 0px 12px rgba(255, 255, 255, 0.47);
  padding: 0;
}
/* 
.myimage {
  width: 690.78px;
  height: 742px;
  margin-left: -45rem;
  padding-left: 0;
}

.myimageoverlay {
  width: 680.78px;
  height: 742px;
  margin-left: -42rem;
  padding-left: 0;
} */

.hero-images-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}

.myimage,
.myimageoverlay {
  width: 690.78px;
  max-width: 600px; /* adjust as needed */
  height: auto;
  max-height: 752px;
  position: absolute;
  top: 20px;
  right: 0rem;
}
.boxesLines-bg {
  width: 590px;
  max-width: 650px; /* adjust as needed */
  height: auto;
  max-height: 792px;
  position: absolute;
  top: 9.9rem;
  right: 0rem;
  z-index: 1;
}

.myimage {
  z-index: 2;
}

.myimageoverlay {
  z-index: 3;
}
.services-hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: solid 1.5px #1a1b1c;
}

/* Responsive tweaks */
@media (max-width: 1920px) {
  
  .hero-images-container {
    width: 100%;
    position: absolute;
    display: flex;
    right: 18.5%;
    margin-top: -1.5rem;
  }
  .myimage {
    width: 389px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0rem;
  }

  .myimageoverlay {
    width: 389px;
    height: auto;
    position: absolute;
    top: -50px;
    right: 0rem;
  }

  .boxesLines-bg {
    width: 476px;
    height: auto;
    position: absolute;
    top: 7rem;
    right: -3.5rem;
    z-index: 1;
  }

  .name-text {
    padding: 0;
    font-size: 174px;
    color: #b53434;
    font-weight: 1000;
    margin-top: -5.7%;
    letter-spacing: 5px;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    margin-bottom: -5%;
  }

  .hero-text-container {
    display: block;
    text-align: left;
    margin-top: 5rem;
    z-index: 2;
    padding-left: 0;
  }
  .greet-text {
    font-size: 27px;
    color: #fff;
    font-weight: 800;
    margin-bottom: -30px;
  }
  .fullname-text {
    position: absolute;
    color: #212528;
    margin-left: 9.4rem;
    margin-top: 2.6rem;
    font-size: 16px;
    padding: 0 3px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #fff;
  }

  .my-skill-text {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .summary-description {
    width: 45%;
    margin-top: 2rem;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22px;
    letter-spacing: 1px;
    color: #fff;
  }

  .find-me {
    margin-top: 7rem;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
  }
  .find-me-btns {
    background-color: transparent;
    border: none;
    margin-top: 0.5rem;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }

  .services-hr {
    margin-top: 4rem;
    margin-bottom: 3rem;
    border: solid 1.5px #1a1b1c;
  }
}

@media (max-width: 1024px) {
  
  .myimage,
  .myimageoverlay {
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1323px)  {
  .home-wrapper{
    padding: 3rem;
  }
 
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-images-container {
    margin-top: 2rem;
    
  }

  .myimage,
  .myimageoverlay {
     max-width: 300px;
    max-height: 420px;
    margin-right: -6rem;
    z-index: 2;
   
  }
  
  .boxesLines-bg {
    width: 400px;
    height: auto;
    top: 5px;
    margin-right: -4rem;
    z-index: 0;
    padding: 0;
  }
  
  .name-text {
    height: 13rem;
    margin-left: -9px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    letter-spacing: 2px;
 
  }
  
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin-bottom: -60px;
    text-align: left;
  }

  .fullname-text {
    color: #212528;
    margin-top: 3.8rem;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
   
  }

  .my-skill-text{
    width: 60%;
    z-index: 3;
    margin: 0;
  }

  
  .summary-description {
    width: 60%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
    z-index: 2;
  }

  .hero-text-container {
    text-align: left;
    padding: 0 1rem;
    
  }
}


@media (max-width: 767px) {
  .home-wrapper {
    padding: 1.5rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -3px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 103px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    margin-right: -1.5rem;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 8rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;

  }
  .summary-description {
    width: 90%;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}

@media (max-width: 430px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -3px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 93px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}

@media (max-width: 414px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -3px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 93px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}


@media (max-width: 390px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  
  .hero-text-container{
    padding: 0;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -3px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 93px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}


@media (max-width: 375px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-text-container{
    padding: 0;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -4px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 93px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 0px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}

@media (max-width: 360px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-text-container{
    padding: 0;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -4px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 90px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: 0px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}


@media (max-width: 350px) {
  .home-wrapper {
    padding: 1rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-text-container{
    padding: 0;
  }
  .greet-text {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    text-align: left;
  }
  .fullname-text {
    color: #212528;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    position: unset;
    display: none;
  }

  .name-text {
    margin-left: -4px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 90px;
    color: #b53434;
    font-weight: 1000;
    letter-spacing: -3px;
    text-align: left;
    line-height: 0.8;
    text-shadow: 1px 0 currentColor, -2px 0 currentColor;
    z-index: 2;
  }

  .my-skill-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .hero-images-container {
    margin-top: 0rem;
  }

  .myimage,
  .myimageoverlay {
    max-width: 250px;
    max-height: 370px;
    z-index: 1;
  }

  .hero-text-container {
    text-align: center;
    margin-top: 12rem;
  }
  .boxesLines-bg {
    width: 350px;
    height: auto;
    top: 0.5rem;
    z-index: 0;
    padding: 0;
  }
  .summary-description {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justify;
    color: #fff;
  }
  .find-me-icons {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }
}

.section-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b53434;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: 40px;
  font-weight: bolder;
  color: #ffffff;
}
.services-container {
  width: 100%;
  justify-content: center;
  align-content: center;
}
